

/* Navigation */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 15px 50px;
    color: white;
    position: absolute;
    width: 95%;
    top: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #6c5ce7;
}

.bet-now {
    background-color: #6c5ce7;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.bet-now:hover {
    background-color: #574b90;
}
