h1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.formulaire{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    width: 90%;
    margin: 20px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Ombre pour effet de profondeur */
  }


.container{
margin: 8px ;
}